@use '../variables/colors';
@use '../variables/common';

a {
    text-decoration: none;

    &:visited {
        color: currentColor;
    }
}

.link {
    color: colors.$primary;
    position: relative;
    margin: common.$margin;
    padding: common.$padding-horizontal;

    &:before {
        content: '';
        width: 110%;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: currentColor;
        position: absolute;
    }
}