$primary: #de4851;
$primary-dark-1: #8a1921;
$primary-dark-2: #ac2029;
$primary-dark-3: #d9303b;
$primary-light-1: #e6757d;
$primary-light-2: #ec989d;
$primary-light-3: #fbd1d1;
$secondary: #5eb9e4;
$secondary-dark-1: #fe7c02;
$secondary-dark-2: #ffa802;
$secondary-dark-3: #ffc102;
$secondary-light-1: #fbec42;
$secondary-light-2: #fef168;
$secondary-light-3: #fff695;
$white: #FFF;
$black: #000;